@import 'vendors/reset.scss';
@import 'config/media.scss';
@import 'blocs/newParty.scss';

* {
  text-align: center;
  background-image: url("https://images.wallpaperscraft.com/image/net_neon_shape_145699_1600x900.jpg");
  background-size: cover;
}

@supports ( background-blend-mode: hue) {
  * {
    text-align: center;
    background-image:
            linear-gradient(lightblue 0%, pink 100%), linear-gradient(to right, pink 30%, white 100%), url("https://images.wallpaperscraft.com/image/net_neon_shape_145699_1600x900.jpg");
    background-blend-mode: hue;
    background-size: cover;
  }
}
h1 {
  color: white;
  font-size: 24px;
  margin-bottom: 20px;
}

h2 {
  color: white;
  font-size: 20px;
  font-style: italic;
}

h3 {
  color: white;
}

ul {
  color: white;
}

label {
  color: white;
}

form {
 color: white;


}